@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:300');

@font-face {
    font-family: 'IMFell';
    src: url('FeENit2.ttf');
}

h1 {
    text-align: center;
    font-family: 'IMFell', serif;
    font-weight: normal;
    padding-bottom: 60px;
}

h1 .mid-lower {
    position: relative;
    top: 15px;
    right: 5px;
}

h1 .lower {
    position: relative;
    top: 30px;
    right: 10px;
}

body {
  font-family: 'Roboto Slab', serif;
  background-color:white;
  color:black;
  font-size:18px;
  max-width:1000px;
  margin:auto;
}

img {
    max-width:100%;
}

.previews {
    max-width: 1000px;
    margin: auto;
    padding: 0px;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-column-gap: 30px;
    grid-row-gap: 30px;

    margin-bottom: 30px;
}

.previews .image {
    height:200px;
    background-size: cover;
    display: inline-block;
    list-style-type: none;
}

.articles {
    max-width: 1000px;
    margin: auto;
    padding: 0px;

    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
}

.articles article {
    // box-shadow: 6px 6px 12px -10px;
    overflow-wrap: break-word;
}

.articles article .summary {
    border-bottom: 2px solid #333333;
}

h1 a {
    display: block;
    color: black;
    text-decoration:none;
}

h2 a, h3 a, h4 a, h5 a {
    color:#333;
    text-decoration:none;
}

#footer {
    padding:10px;
    margin-top:50px;
    text-align:center;
}

h2, h3, h4 {
    margin-bottom:5px;
}

h2, h2 a, h2 a:hover {
    background-color:transparent;
}

h3 {
}

h4 {
}

img {
    display:block;
    margin:auto;
    margin-top:10px;
    margin-bottom:10px;
}

em {
}

strong {
    font-weight:normal;
}


blockquote {
    padding:2px;
    border-left:3px solid white;
    margin-left:20px;
    padding-left:20px;
}

time {
    font-style:italic;
    float:right;
    margin-right:5px;
}

p {
    margin-top:5px;
    text-align:justify;
}
