<article>
    <div class="image" style="background-image: url({{ $.Site.BaseURL }}images/{{ with .Params.image }}{{ . }}{{ else }}default.jpg{{ end }});"></div>
      <time>{{ with .Site.Params.DateForm }}{{ $.Date.Format . }}{{ else }}{{ $.Date.Format "Mon, Jan 2, 2006" }}{{ end }}</time>
      <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
    <p class="summary">
      {{ .Content }}<br />
      <em>{{ .Params.categories }}, {{ .Params.tags }}</em>
    </p>
    <a href="{{ .Permalink }}">Go to post</a>
</article>
